format = """
[  ](bg:#1d202f fg:#f7768e)\
(bg:#1d202f fg:#7aa2f7)\
$directory\
(fg:#1d202f bg:#7aa2f7)\
$git_branch\
$git_status\
(fg:#4141868 bg:#1d202f)\
$nodejs\
$rust\
$golang\
$php\
(fg:#1d202f bg:#24283b)\
[ ](fg:#1d202f)\

\n$character"""

[directory]
style = "fg:#e3e5e5 bg:#1d202f"
format = "[ $path ]($style)"
truncation_length = 3

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:#1d202f"
format = '[[ $symbol $branch ](fg:#7aa2f7 bg:#1d202f)]($style)'

[git_status]
style = "bg:#4141868"
format = '[[($all_status$ahead_behind )](fg:#7aa2f7 bg:#1d202f)]($style)'

[nodejs]
symbol = ""
style = "bg:#1d202f"
format = '[[ $symbol ($version) ](fg:#7aa2f7 bg:#1d202f)]($style)'

[rust]
symbol = ""
style = "bg:#1d202f"
format = '[[ $symbol ($version) ](fg:#7aa2f7 bg:#1d202f)]($style)'

[golang]
symbol = ""
style = "bg:#1d202f"
format = '[[ $symbol ($version) ](fg:#7aa2f7 bg:#1d202f)]($style)'

[php]
symbol = ""
style = "bg:#1d202f"
format = '[[ $symbol ($version) ](fg:#7aa2f7 bg:#1d202f)]($style)'

